## Naive Bayes Classifier

In [2]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer 
from nltk.tokenize import word_tokenize
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ricar\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [5]:
# Read the data
df = pd.read_csv('tweets.csv')
df

                                                 tweet  senti
0    @united Oh, we are sure it's not planned, but ...      0
1                            History exam studying ugh      0
2    @unnitallman yeah looks like that only! &quot;...      0
3                                        Loves twitter      4
4    @Mbjthegreat i really dont want AT&amp;T phone...      0
..                                                 ...    ...
293  @criticalpath Such an awesome idea - the  cont...      4
294  Talk is Cheap: Bing that, I?ll stick with Goog...      0
295  @CTesdahl well you can always digg or stumble....      4
296  Stopped to have lunch at McDonalds. Chicken Nu...      4
297  SUPER INVESTORS: A great weekend read here fro...      4

[298 rows x 2 columns]

In [7]:
# Preprocessing
# Remove the @user
df['tweet'] = df['tweet'].apply(lambda x: re.sub('@[^\s]+','',x))
# Remove the URL
df['tweet'] = df['tweet'].apply(lambda x: re.sub('((www\.[^\s]+)|(https?://[^\s]+))','',x))
# Remove the # symbol
df['tweet'] = df['tweet'].apply(lambda x: re.sub('#[^\s]+','',x))
# Remove the punctuation
df['tweet'] = df['tweet'].apply(lambda x: re.sub('[^\w\s]','',x))
# Remove the numbers
df['tweet'] = df['tweet'].apply(lambda x: re.sub('[0-9]','',x))
# Remove the extra spaces
df['tweet'] = df['tweet'].apply(lambda x: re.sub(' +',' ',x))
# Remove the leading and trailing spaces
df['tweet'] = df['tweet'].apply(lambda x: x.strip())
# Convert to lower case
df['tweet'] = df['tweet'].apply(lambda x: x.lower())

df

                                                 tweet  senti
0    oh we are sure its not planned but it occurs a...      0
1                            history exam studying ugh      0
2    yeah looks like that only quotbusyquot is fuck...      0
3                                        loves twitter      4
4    i really dont want atampt phone servicethey su...      0
..                                                 ...    ...
293  such an awesome idea the continual learning pr...      4
294      talk is cheap bing that ill stick with google      0
295  well you can always digg or stumbleboth have a...      4
296  stopped to have lunch at mcdonalds chicken nug...      4
297  super investors a great weekend read here from...      4

[298 rows x 2 columns]

In [10]:
#Naive Bayes training and testing the tweets
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

# Split the data into training and testing
X_train, X_test, y_train, y_test = train_test_split(df['tweet'], df['senti'], test_size=0.2, random_state=1)

# Create the bag of words model
count_vectorizer = CountVectorizer()
training_data = count_vectorizer.fit_transform(X_train)
testing_data = count_vectorizer.transform(X_test)

# Train the model
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)

# Test the model
predictions = naive_bayes.predict(testing_data)
accuracy_score(y_test, predictions)

0.6333333333333333