In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import nltk
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer 
from nltk.tokenize import word_tokenize
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ricar\AppData\Roaming\nltk_data...

True

In [2]:
#importing the dataset
data = pd.read_csv('tweets.csv')
data.head()

                                               tweet  senti
0  @united Oh, we are sure it's not planned, but ...      0
1                          History exam studying ugh      0
2  @unnitallman yeah looks like that only! &quot;...      0
3                                      Loves twitter      4
4  @Mbjthegreat i really dont want AT&amp;T phone...      0

### Preprocessing

In [6]:
#Preprocessing the data
#Removing the @usernames
data['tweet'] = data['tweet'].apply(lambda x: re.sub('@[^\s]+','',x))
#Removing the links
data['tweet'] = data['tweet'].apply(lambda x: re.sub('https?://[A-Za-z0-9./]+','',x))
#Removing the special characters
data['tweet'] = data['tweet'].apply(lambda x: re.sub('[^a-zA-Z]',' ',x))
#Removing the extra spaces
data['tweet'] = data['tweet'].apply(lambda x: re.sub(' +',' ',x))
#Converting the text to lower case
data['tweet'] = data['tweet'].apply(lambda x: x.lower())
data.head()

                                               tweet  senti
0   oh we are sure it s not planned but it occurs...      0
1                          history exam studying ugh      0
2   yeah looks like that only quot busy quot is f...      0
3                                      loves twitter      4
4   i really dont want at amp t phone service the...      0

### Naive Bayes traingin

In [25]:
#creating the bag of words model
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 1500)
X = cv.fit_transform(data['tweet']).toarray()
y = data.iloc[:,1].values


#Splitting the dataset into training and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [27]:
#Training the Naive Bayes Classifier on the training set
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

#Predicting the test set results
y_pred = classifier.predict(X_test)

#Making the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[12,  6, 10],
       [ 2,  6,  3],
       [ 4,  4, 13]], dtype=int64)

In [28]:
#Calculating the accuracy
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.5166666666666667